body
{
    color: deeppink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.gris
{
    color: grey;
}
.verga
{
    background-color: deeppink;
    padding: 20px;
    color: lightblue;
}