body
{
    color: deeppink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.gris
{
    color: grey;
}
.verga
{
    background-color: deeppink;
    padding: 20px;
    color: lightblue;
}
.hamud
{
    background-color: slategray;
    color: springgreen;
    padding: 40px;
    font-size: 2rem;
}